<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_main}">
<head>
    <title>海外视频运营中心 | 首页</title>
</head>
<body th:with="cur='sel-index'">
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="page-content-wrapper">
        <div class="page-content" style="vertical-align: middle;">
            欢迎进入运营中心
        </div>
    </div>
</th:block>
</body>
</html>