<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dafycredit.giveu.mall.admin.dal.mapper.SystemModuleMapper">
  <!-- 插入路径信息 -->
  <insert id="insert" useGeneratedKeys="true" keyColumn="id">
    <![CDATA[
			INSERT INTO `v_sys_module`
				(`title`,
				 `sort`,
				 `parent_id`,
				 `url`,
				 `remark`,
				 `status`,
				 `create_time`,
				 `create_userid`,
				 `update_time`,
				 `update_userid`)
			VALUES
				(
				#{title},
				#{sort},
				#{parentId},
				#{url},
				#{remark},
				#{status},
				NOW(),
				#{createUserId},
				NOW(),
				#{updateUserId}
				);
		]]>
  </insert>

    <update id="update">
        update v_sys_module set
        <if test="title != null">
            title = #{title},
        </if>
        <if test="sort != null">
            sort = #{sort},
        </if>
        <if test="parentId != null">
            parent_id = #{parentId},
        </if>
        <if test="url != null">
            url = #{url},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="updateUserId != null">
            update_userid = #{updateUserId},
        </if>
        update_time=NOW()
        where  id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from v_sys_module where id = #{id}
    </delete>

    <resultMap id="module_resultMap" type="com.dafycredit.giveu.mall.admin.dal.entity.SystemModule">
        <result column="id"  jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" 	 jdbcType="VARCHAR" property="status" />
        <result column="create_time"  jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_userid"  jdbcType="INTEGER" property="createUserId" />
        <result column="update_time"  jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_userid"  jdbcType="INTEGER" property="updateUserId" />
    </resultMap>

    <sql id="all_module_field">
        id,
        title,
        sort,
        parent_id,
        url,
        remark,
        status,
        create_userid,
        create_time,
        update_userid,
        update_time
    </sql>

    <select id="queryAll" resultMap="module_resultMap">
        select <include refid="all_module_field" /> from v_sys_module where status='ENABLE' order by sort ASC
    </select>

    <!--分页查找系统模块 -->
    <select id="queryByPage" parameterType="com.dafycredit.giveu.mall.common.util.PageBean" resultMap="module_resultMap">
        select <include refid="all_module_field" /> from v_sys_module
        where 1=1
        <if test="filters != null">
            <if test="filters.title != null and filters.title != ''">
                and title like concat(concat('%', #{filters.title}),'%')
            </if>
            <if test="filters.status != null and filters.status != ''">
                and status = #{filters.status}
            </if>
        </if>
        <if test="orders != null">
            order by
            <foreach collection="orders" item="order" separator=",">
                ${order.name} ${order.mode}
            </foreach>
        </if>
        <if test="offset != null and limit !=null">
            limit #{offset},#{limit}
        </if>
    </select>

    <!--统计系统模块数量 -->
    <select id="countByFilter" parameterType="java.util.Map" resultType="Long">
        select count(1) from v_sys_module
        where 1=1
        <if test="title != null and title != ''">
            and title like concat(concat('%', #{title}),'%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>

    <select id="getById" resultMap="module_resultMap" >
        select <include refid="all_module_field" /> from v_sys_module where id=#{id}
    </select>

    <delete id="deleteSysRoleModuleByModuleId">
        delete from v_sys_role_module where module_id=#{moduleId}
    </delete>
</mapper>